.root {
-fx-font-size: 10pt;
-fx-font-family: "Segoe";
-fx-background: #61a2b1;}

.indicetablas {
    -fx-font-size: 10pt;
}
.table-view .column-header .label{
    -fx-font-size: 11pt;
    -fx-text-fill: #52677A;
    -fx-alignment: CENTER;
}


.botonesmenu {
-fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
  }

.botonesmenu:hover{
  -fx-text-fill: white;
      -fx-font-family: "Segoe UI";
      -fx-font-weight: bold;
      -fx-background-color: linear-gradient(#61a2b1, #2A5058);
      -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.botonesmenu:pressed{
  -fx-text-fill: white;
      -fx-font-family: "Segoe UI";
      -fx-font-weight: bold;
      -fx-background-color: linear-gradient(#61a291, #2A5058);
      -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}
